$_color_white_w: #fff1c8;
$_color_white: #ffffff;
$_color_blue_oscuro: #212429;
$_color_black_fondo: #151515;
$_color_crimson: crimson;
$_color_white_icons: rgb(190, 189, 186);
$_color_portada_transparente: #111111;
$_color_texto_gris: #888888;
$_color_texto: rgba(255, 255, 255, 0.7);
$_color_habilidades: #313131;
$_color_gris_fondo: #ebebeb;
/*---*/
